body {
    font-family: poppins;
}

h2 {
    margin-top: -30px;
    font-weight: 600;
    font-size: 60px;
}

h1 {
    font-size: 80px;
    margin-top: -30px;
}

.rahman {
    margin-top: -100px;
    margin-bottom: -20px;
}



.cv {
    background-color: aqua;
    text-decoration: none;
    cursor: pointer;
    margin: 50px;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
}

.half-width {
    display: 50%;
    margin: 0px 200px;
}

.top-banner {
    padding-top: 200px;
    margin-top: -10px;
    background-color: #fff8f3;
    display: flex;
    background-image: url(developer.png), url(header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom left, bottom right;
    align-items: center;
}

.bio {
    background-color: rgba(252, 235, 230, 0.577);
    border-radius: 10px;
    margin: 100px;
    padding: 100px;
    text-align: center;

}

.about {
    margin-top: -20px;
    text-align: center;
}


.info {
    display: flex;

}

h4 {
    color: gray;
}

.info h4 {
    margin-left: 100px;
}

.info h4 strong {
    display: block;
    font-size: 20px;
    color: black;

}

p {
    color: gray;
    font-size: 20px;
}

h1 {
    text-align: center;
}

.box {
    background-color: rgba(248, 248, 248, 0.455);
    display: flex;
    margin: 10px 50px;
    border-radius: 10px;
}

h5 {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.mm {
    color: gray;
    font-size: 20px;
}

.js {
    text-align: justify;
    background-color: white;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;

}

.head {
    font-size: 40px;
}